/*************** HEADER & BACKGROUND STYLES ***************/

body,html {
  height: 100%;
  background-image: url(images/bg.gif);
  background-size: cover;
  cursor: url('images/sharp.png'), pointer;
}

img {
  display: block;
  margin: auto;
}

#title {
  width: 90%;
}

header img:last-child {
  padding: 20px 0 40px 0;
  width: 60%;
}

header {
  padding-top: 30px;
  width: 60%;
  margin: auto;
}

/*************** objects in my bag STYLES ***************/


li img{
  display: block;
  float:left;
  cursor: pointer;
}

li img#wb{
  margin-left: 20px;
  width: 200px;
  padding: 20px 0;
}

li img#comp{
  width: 400px;
  padding: 40px 0 40px 15px;
}

li img#plan{
  width: 210px;
  top: 50%;
  padding: 100px 0 100px 20px;
}

/*************** OVERLAY STYLES ***************/

#overlay1, #overlay2, #overlay3 {
  display: none;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 100%;
  margin: auto;
}

#closebutton1, #closebutton2, #closebutton3{
  margin-left: 0;
  margin-top: 0;
  width: 45px;
  cursor: pointer;
}
/*************** DESKTOP MEDIA QUERY ***************/

@media only screen and (min-width: 992px){
  header{
    padding: 25px 80px;
    width: 300px;
    float: left;
  }

  li img#wb{
    width: 120px;
  }
  li img#comp{
    width: 200px;
  }
  li img#plan{
    width: 100px;
  }

  #overlay1, #overlay2, #overlay3 {
    width: 400px;
  }
  #closebutton1, #closebutton2, #closebutton3{
    width: 20px;
  }

  #valid ul li a img{
    height: 25px;
    padding: 10px;
  }



}


/***************** FOOTER STYLES ***************/

footer {
  position: fixed;
  bottom: 0px;
  clear: both;
  left: 37%;
  right: 37%;
}

#valid ul li {
  display: inline;
}

  #valid ul li img{
  padding: 20px;
  margin: auto;
  height: 55px;
}

ul {
  list-style-type: none;
}
