body,html {
  /* cursor: url('images/cursor.png'); */
  background-image: url(images/bg.jpg);
}


img {
  display: block;
  margin: auto;
}

#title {
  width: 90%;
}

header img:last-child {
  padding-top: 20px;
  width: 80%;
}

#wb, header {
  padding-top: 30px;
}

#plan {
  padding-top: 80px;
}

#overlay1, #overlay2, #overlay3 {
  display: none;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 100%;
  margin: auto;
}

#close1, #close2, #close3 {
  /* position: relative; */
  /* top: 10px;
  right: 10px; */
  cursor: pointer;
}

#closebutton1, #closebutton2, #closebutton3{
  margin-left: 0;
  margin-top: 0;
  width: 45px;
}


/* FOOTER STYLES */

footer {
  /* position: fixed; */
  padding-top: 60px;
  bottom: 0px;
  height: 60px;
  /* width: 100%; */
}

#valid ul li {
  float: left;
  padding: 20px;
  margin: auto;
}

ul {
  list-style-type: none;
}
