/* BACKGROUND STYLES */

html, #fingerspell_page {
  background: url(images/bg.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

#letterimg {
  height: 300px;
  margin: auto;
}

h1 {
  font-weight: 700;
}

a, #check_answer_button, #answer_input {
  padding: 5px 10px;
  border: 1px solid #FDCF2F;
  margin-bottom: 10px;
}

#home {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 110px;
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100%;
  text-align: center;
}

#valid ul li {
  float: right;
  padding-right: 10px;
}

#valid ul li a {
  text-decoration: none;
  border: none;
  font-size: 20px;
  color: white;
  /* height: 15px; */
}

ul {
  list-style-type: none;
}
