/* THE INTENTION/GOAL OF THIS CSS IS TO */

body {
  text-align: center;
  margin: auto;
  background: #1b1b1b;
  color: white;
  font-family: 'Muli', sans-serif;
}

h1 {
  margin-top: 30px;
}

p {
  margin-top: 100px;
}

#sign {
  position: absolute;
  top: 350px;
  left: 45%;
  height: 120px;
}

/* form */

input[type='text'] {
  border: 1px solid #FDCF2F;
  background: #1b1b1b;
  padding: 5px 0;
  color: #FDCF2F;
  /* width: 49%; */
}

/* BUTTONS */

button, #go, #study, #quiz {
  padding: 5px 10px;
  background: #1b1b1b;
  border: 1px solid #FDCF2F;
}

#study, #quiz {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 110px;
}

#study, #quiz, #go, #prev, #next, #start {
  text-decoration: none;
  color: #FDCF2F;
}

#prev, #next {
  margin: 10px 0 90px 0;
}

button#start {
  top: 50%;
  left: 50%;
}

/* FOOTER */

#valid ul li {
  display: inline;
}

#valid ul li a {
  color: white;
}

footer {
  position: fixed;
  bottom: 0px;
}
