html, body, section {
  height: 100%;
}

div {
  padding-bottom: 10px;
}

div#form {
  padding-top: 12%;
}

form div:last-child {
  padding-top: 100px;
}

form div:last-child input label {
  padding: 10px;
}

section {
  float: left;
  width: 50%;
}

section#results {
  background: red;
}

p em {
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
}

h1 {
  font-weight: bold;
  font-family: 'Domine', serif;
  color: black;
  font-size: 35px;
  width: 80%;
  margin: auto;
  padding-top: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  width: 80%;
  margin: auto;
  text-transform: uppercase;
  text-align: left;
  line-height: 25px;
  padding-top: 4px;
}

#form {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  margin: auto;
}

/* left side of form */

label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 25px;
  display: block;
  /* makes them all the same length */
  width: 50%;
  float: left;
}

/* right side of form */

input[type='text'] {
  border: none;
  border-bottom: 1px solid red;
  font-family: 'Montserrat', sans-serif;
  width: 49%;
  font-size: 14px;
}

input[type=text]:focus {
  outline: none;
}

div form {
  margin: auto;
}

/* buttons on form */

input[type=submit], input[type=reset] {
  padding: 10px 0;
  width: 135px;
  text-align: center;
  border-radius: 24px;
  font-family: 'Domine', serif;
  font-weight: bold;
  text-transform: capitalize;
  display: block;
  margin: auto;
  font-size: 12px;
}

/* reset button */

input[type=reset] {
  border: 1px solid red;
  color: red;
  background-color: white;
}

input[type=reset]:hover {
  border: 1px solid red;
  background-color: red;
  color: white;
}

input[type=reset]:active {
  border: 1px solid red;
  color: red;
  background-color: white;
}

input[type=reset]:focus, input[type=submit]:focus {
  outline: none;
}

/* generate button */

input[type=submit] {
  margin-top: 10px;
  border: 1px solid red;
  background-color: red;
  color: white;
}

input[type=submit]:hover {
  border: 1px solid red;
  background-color: white;
  color: red;
}

input[type=submit]:active {
  border: 1px solid red;
  color: white;
  background-color: red;
}

img {
  display: block;
  margin: auto;
  width: 60%;
}

img:first-child {
  padding-top: 80px;
}

p {
  font-family: 'Domine', serif;
  width: 80%;
  font-size: 20px;
  margin: auto;
  text-align: center;
  padding: 50px 0;
  color: white;
  line-height: 28px;
  line-height: 30px;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100%;
  text-align: center;
}

#valid ul li {
  float: right;
  padding-right: 10px;
}

#valid ul li a {
  text-decoration: none;
  font-size: 32px;
  color: white;
  height: 15px;
}

ul {
  list-style-type: none;
}
